@use 'vars';

.burger
{
    display: none;

    padding: 10px 0;

    cursor: pointer;



    @media (max-width: vars.$breakpoint_md)
    {
        display: block;

        position: absolute;
        right: 30px;
        z-index: 10;

        &--active
        {
            position: fixed;
        }
    }
}

.burger__line
{
    width: 30px;
    height: 3px;

    color: transparent;
    font-size: 0;

    background-color: vars.$black;

    position: relative;

    transition: all .3s linear;

    &::before,
    &::after
    {
        content: "";
        position: absolute;

        width: 30px;
        height: 3px;
        
        transition: all .3s linear;
    
        background-color: vars.$black;
    }

    &::before
    {
        top: -8px
    }

    &::after
    {
        top: 8px;
    }

    .burger.burger--active &
    {
        background-color: transparent;

        &::before,
        &::after
        {
            background-color: vars.$white;
        }

        &::before
        {
            top: 0;
            transform: rotate(45deg);
        }

        &::after
        {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}