@use 'vars';

.footer
{
    padding: 87px;

    background-color: vars.$light_gray;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: vars.$breakpoint_md)
    {
        padding: 40px 10px;
        flex-direction: column;
        justify-content: space-between;
    }
}

.footer__contacts
{
    width: 260px;

    @media (max-width: vars.$breakpoint_md)
    {
        width: 80%;

        margin-bottom: 30px;
    }
}

.footer__copyright
{
    display: flex;
    align-items: center;
}

.footer__logo
{
    margin-left: 10px;
}

.footer__title
{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: vars.$gray;
    
    @media (max-width: vars.$breakpoint_md)
    {
        text-align: center;
    }
}

.footer__text
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    font-style: italic;
    color: vars.$gray;
    line-height: 17.87px;

    @media (max-width: vars.$breakpoint_md)
    {
        text-align: center;
    }
}

.footer__links
{
    width: 135px;
    height: 34px;

    display: flex;
    justify-content: space-between;

    @media (max-width: vars.$breakpoint_md)
    {
        margin-bottom: 30px;
    }
}

.footer__icon
{
    transition: transform .2s linear;

    &:hover
    {
        transform: rotate(360deg);
    }
}