@use 'vars';

.gallery__box
{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &--top
    {
        grid-template-areas: 
        "item1 item1 item2"
        "item1 item1 item2"
        "item1 item1 item3";
    }

    &--middle
    {
        grid-template-areas: 
        "item1 item3 item3"
        "item1 item3 item3"
        "item2 item3 item3";
    }

    &--bottom
    {
        grid-template-areas: 
        "item1 item2 item4"
        "item1 item2 item4"
        "item1 item3 item4";
    }

    @media (max-width: vars.$breakpoint_xl)
    {
        grid-template-columns: repeat(2, 1fr);

        &--top
        {
            grid-template-areas: 
            "item1 item1"
            "item2 item2"
            "item3 item3";
        }
    
        &--middle
        {
            grid-template-areas: 
            "item1 item1"
            "item2 item2"
            "item3 item3";
        }
    
        &--bottom
        {
            grid-template-areas: 
            "item1 item1"
            "item2 item2"
            "item3 item3"
            "item4 item4";
        }
    }
}

.gallery__container
{
    background-color: vars.$white;

    padding: 50px 0;

    width: 100%;
    height: 100%;

    position: relative;

    &::after
    {
        content: "";

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);

        width: 18px;
        height: 18px;
        background-color: inherit;

    }
}

.gallery__logo
{
    margin: 0 auto 27px;
}

.gallery__icon
{
    margin: 0 auto;
    display: block;
}

.gallery__title
{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.6px;
    line-height: 30px;
    color: vars.$black;
    text-align: center;

    margin-bottom: 17px;
}

.gallery__text
{
    width: 80%;
    margin: 0 auto;

    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 30px;
    color: vars.$gray;

    position: relative;

    &::after
    {
        content: "";

        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);

        width: 50px;
        height: 1px;

        background-color: vars.$black;
        opacity: .2;
    }
}

.gallery__inner
{
    width: 100%;
    height: 100%;

    position: relative;
}

.gallery__image
{
    width: 100%;
    height: 100%;
    display: block;

    object-fit: cover;
}

.gallery__sprite
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.gallery__item:nth-child(1)
{
    grid-area: item1;
}

.gallery__item:nth-child(2)
{
    grid-area: item2;
}

.gallery__item:nth-child(3)
{
    grid-area: item3;
}

.gallery__item:nth-child(4)
{
    grid-area: item4;
}