@use 'vars';

.gallery
{
    width: 100%;
}

.gallery__row
{
    display: flex;

    @media (max-width: vars.$breakpoint_xl)
    {
        flex-direction: column;
    }
}

.gallery__column
{
    display: flex;
    flex-direction: column;
    
    &--big
    {
        flex: 2;
    }

    &--small
    {
        flex: 1;
    }
}

.gallery__photo
{
    width: 100%;
    height: 100%;

    position: relative;

    background-color: vars.$item_bg;
    
    cursor: pointer;
}

.gallery__content
{
    flex: 1;

    padding: 70px 67px 95px;

    position: relative;

    &::after
    {
        content: "";

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);

        width:  0;
        height: 0;
        border: 10px solid transparent;
        border-top: 10px solid vars.$white;
    }

    @media (max-width: vars.$breakpoint_xxl)
    {
        padding: 70px 40px 95px;
    }
}

.gallery__logo
{
    display: block;
    margin: 0 auto 30px;
}

.gallery__title
{
    color: vars.$black;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    letter-spacing: 3.6px;

    margin-bottom: 25px;
}

.gallery__text
{
    color: vars.$gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    position: relative;

    &::after
    {
        content: "";

        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);

        width: 50px;
        height: 1px;
        background-color: rgba(vars.$black, .2);
    }
}

.gallery__image
{
    width: 100%;
}

.gallery__img
{
    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover;

    transition: opacity .2s linear;

    .gallery__photo &
    {
        position: absolute; //позволяет родительскому блоку не обращать внимание на картинку

        @media (max-width: vars.$breakpoint_xl)
        {
            position: static;
        }
    }

    .gallery__photo:hover &
    {
        opacity: .4;
    }
}

.gallery__sprite
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;

    transition: opacity .2s linear;

    .gallery__photo:hover &
    {
        opacity: 1;
    }

    @media (max-width: vars.$breakpoint_sm)
    {
        max-height: 60%;
        max-width: 60%;
    }
}