@use 'vars';

.nav
{
    display: flex;
    justify-content: space-between;  
    align-items: center;  

    position: relative;

    width: 100%;
    height: 20vh;

    @media (max-width: vars.$breakpoint_md)
    {
        height: 10vh
    }
}

.nav__links
{
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 625px;
    height: 85px;
    margin: 0 auto;

    @media (max-width: vars.$breakpoint_md)
    {
        margin: 0;
        padding: 20vh 0 20vh;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;

        flex-direction: column;

        transform: translateX(100%);

        width: 70%;
        height: 100vh;

        background-color: vars.$black;

        transition: transform .2s linear;

        &--active
        {
            transform: translateX(0);
        }
    }
}

.nav__item
{
    transition: transform .3s linear, opacity .3s linear;

    position: relative;

    &:nth-child(2n - 1)::after
    {
        content: ".";
        position: absolute;
        right: -40px
    }

    &:nth-child(2)
    {
        margin-right: 180px;
    }


    @media (max-width: vars.$breakpoint_md)
    {
        transform: translateX(100px);
        opacity: 0;


        &:nth-child(2)
        {
            margin: 0;
        }

        &:nth-child(2n - 1)::after
        {
            display: none;
        }
    }
}

.nav__link
{
    text-transform: uppercase;
    text-decoration: none;

    color: vars.$nav_black;
    font-weight: bold;

    position: relative;

    &:hover
    {
        &::after
        {
            content: "";

            position: absolute;
            bottom: -5px;
            left: 0;

            width: 100%;
            height: 1px;

            background-color: vars.$nav_black;
        }
    }

    @media (max-width: vars.$breakpoint_md)
    {
        color: vars.$white;

        &::after
        {
            display: none;
        }

    }
}

.nav__img
{
    display: block;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: vars.$breakpoint_md)
    {
        transform: translate(-50%, 10%);
    }
}

.nav__logo
{
    display: block;
    width: 94px;
    height: 85px;
}

@keyframes navItemFade
{
    from
    {
        transform: translateX(50px);
        opacity: 0;
    }

    to
    {
        transform: translateX(0);
        opacity: 1;
    }
}