@use 'vars';

.shop__container
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 267px);
    grid-template-areas:
    "item1 item2 item4 item5 item6 item6"
    "item3 item3 item4 item5 item7 item8";
}


.shop__item
{
    background-color: #64C29E;

    position: relative;
}

.shop__image
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.shop__pop
{
    position: absolute;
    display: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop__item:nth-child(1)
{
    grid-area: item1;
}

.shop__item:nth-child(2)
{
    grid-area: item2;
}

.shop__item:nth-child(3)
{
    grid-area: item3;
}

.shop__item:nth-child(4)
{
    grid-area: item4;
}

.shop__item:nth-child(5)
{
    grid-area: item5;
}

.shop__item:nth-child(6)
{
    grid-area: item6;
}

.shop__item:nth-child(7)
{
    grid-area: item7;
}

.shop__item:nth-child(8)
{
    grid-area: item8;
}

.shop__inner
{
    padding: 75px 0;
    background-color: #282F35;
}

.shop__button
{
    width: 300px;
    height: 50px;
    margin: 0 auto;

    display: block;
    cursor: pointer;

    border: 1px solid rgba(vars.$white, .5);
    outline: none;

    font-size: 14px;
    font-family: inherit;
    letter-spacing: 2px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;

    transition: background .2s linear, color .2s linear;

    &:hover
    {
        background-color: vars.$white;
        color: #282F35;
    }
}
