@use 'vars';

.shop__container
{
    display: flex;

    @media (max-width: vars.$breakpoint_xl)
    {
        flex-direction: column;
    }
}

.shop__block
{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.shop__item
{
    flex-basis: 50%;

    position: relative;

    background-color: vars.$item_bg;

    &--wide
    {
        flex-basis: 100%;
    }
}

.shop__image
{
    display: block;
    width: 100%;
    height: 100%;

    transition: opacity .2s linear;

    .shop__item:hover &
    {
        opacity: 0.4;
    }
}

.shop__sprite
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

    opacity: 0;

    transition: opacity .2s linear;

    .shop__item:hover &
    {
        opacity: 1;
    }
}

.shop__logo
{
    width: 51px;
    height: auto;
    
    margin: 0 auto;
    display: block;

    @media (max-width: vars.$breakpoint_xl)
    {
        width: 100px;
    }

    @media (max-width: vars.$breakpoint_sm)
    {
        width: 51px;
    }
}

.shop__text
{
    color: vars.$white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    letter-spacing: 2.8px;

    @media (max-width: vars.$breakpoint_xl)
    {
        font-size: 18px;
    }
    
    @media (max-width: vars.$breakpoint_sm)
    {
        font-size: 14px;
    }
}

.shop__inner
{
    padding: 75px 0;
    background-color: #282F35;
}

.shop__button
{
    width: 300px;
    height: 50px;
    margin: 0 auto;

    display: block;
    cursor: pointer;

    border: 1px solid rgba(vars.$white, .5);
    outline: none;

    font-size: 14px;
    font-family: inherit;
    letter-spacing: 2.8px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;

    transition: background .2s linear, color .2s linear;

    &:hover
    {
        background-color: vars.$white;
        color: #282F35;
    }

    @media (max-width: vars.$breakpoint_sm)
    {
        width: 70%;
    }
}
