@use 'vars';

.socials
{
    background-color: vars.$light_gray;

    padding: 125px 0 70px;
    width: 100%;
}

.socials__slider
{
    height: 286px;
    overflow: hidden;

    position: relative;

    &::after
    {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        background-color: #f7f7f7;

        width: 100%;
        height: 100%;
    }

    &.slick-initialized
    {
        &::after
        {
            display: none;
        }

        height: auto;
    }
}

.socials__link
{
    display: block;
    margin: 0 auto 32px;
    width: 32px;
    height: 27px;   
}

.socials__icon
{
    display: block;
}

.socials__title
{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: vars.$black;

    margin-bottom: 17px;

    @media (max-width: vars.$breakpoint_sm)
    {
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
}

.socials__span
{
    &--gray
    {
        font-weight: 300;
        color: vars.$gray;
    }
}

.socials__text
{
    text-align: center;

    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    color: vars.$gray;
    line-height: 34px;

    @media (max-width: vars.$breakpoint_sm)
    {
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;

        padding: 0 20px;

        font-size: 16px;
    }
}

