@use 'vars';

.subscribe
{
    width: 100%;

    padding: 110px 0;
    background-color: vars.$white;
}

.subscribe__logo
{
    width: 94px;
    height: 85px;
    margin: 0 auto 30px;

    display: block;
}

.subscribe__text
{
    text-align: center;
    color: vars.$gray;
    font-size: 24px;
    font-style: italic;

    margin-bottom: 24px;
}

.subscribe__form
{
    margin: 0 auto;
    display: flex;

    width: 530px;
    height: 70px;
}

.subscribe__input
{
    margin-right: 8px;
    padding-left: 23px;

    flex: 1;

    font-size: 20px;
    font-family: inherit;
    font-style: italic;
    font-weight: normal;
    color: #929292;

    border: 1px solid #D3D7D9; 

    &:focus
    {
        outline: 1px solid vars.$black;
    }
}

.subscribe__submit
{
    padding: 20px 45px;

    font-size: 24px;
    font-weight: 300;
    color: vars.$white;
    text-transform: uppercase;
    font-family: inherit;

    background-color: #64C29E;
    border: none;
    outline: none;
    cursor: pointer;

    transition: background .2s linear;

    &:hover
    {
        background-color: darken(#64C29E, 20%);
    }
}