<div class="about" id="about">
    <div class="container">
        <img class="about__logo" src="../img/about_logo.png" alt="logo">
        <h2 class="about__title">A NEW GENERATION OF VINTAGE BIKE</h2>
        <p class="about__text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        </p>
    </div>
</div>