<footer class="footer">

    <div class="footer__contacts">
        <h3 class="footer__title">AOD New York</h3>
        <p class="footer__text">2250 Lexington Avenue </p>
        <p class="footer__text">New York, NY 10035  - info@domain.com</p>
        </p>
    </div>

    <div class="footer__links">
        <a class="footer__link" href="#">
            <img class="footer__icon" src="img/twitter.svg" alt="icon">
        </a>
        <a class="footer__link" href="#">
            <img class="footer__icon" src="img/facebook.svg" alt="icon">
        </a>
        <a class="footer__link" href="#">
            <img class="footer__icon" src="img/patreon.svg" alt="icon">
        </a>
    </div>

    <div class="footer__copyright">
        <p class="footer__text">Handcrafted by</p>
        <img class="footer__logo" src="img/footer_logo.svg" alt="logo">
    </div>

</footer>