<div class="gallery" id="gallery">

    <div class="gallery__row">

        <div class="gallery__column gallery__column--big">
            <div class="gallery__photo">
                <img class="gallery__img gallery__img--adaptive" src="img/gallery/image1.jpg" alt="image">
                <img class="gallery__sprite" src="img/gallery/Logo1.png" alt="image">
            </div>
        </div>
        <div class="gallery__column gallery__column--small">
            <div class="gallery__content">
                <img class="gallery__logo" src="img/gallery/logos/Icon1.png" alt="icon">
                <h3 class="gallery__title">VINTAGE OLIVA</h3>
                <p class="gallery__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                </p>
            </div>
            <div class="gallery__image">
                <img class="gallery__img" src="img/gallery/image2.jpg" alt="image">
            </div>
        </div>

    </div> <!-- /.gallery__row -->

    <div class="gallery__row">

        <div class="gallery__column gallery__column--small">
            <div class="gallery__content">
                <img class="gallery__logo" src="img/gallery/logos/Icon2.png" alt="icon">
                <h3 class="gallery__title">La Boriosa</h3>
                <p class="gallery__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                </p>
            </div>
            <div class="gallery__image">
                <img class="gallery__img" src="img/gallery/image3.jpg" alt="image">
            </div>
        </div>

        <div class="gallery__column gallery__column--big">
            <div class="gallery__photo">
                <img class="gallery__img gallery__img--adaptive" src="img/gallery/image4.jpg" alt="image">
                <img class="gallery__sprite" src="img/gallery/Logo4.png" alt="image">
            </div>
        </div>

    </div> <!-- /.gallery__row -->

    <div class="gallery__row">

        <div class="gallery__column gallery__column--big">
            <div class="gallery__photo">
                <img class="gallery__img gallery__img--adaptive" src="img/gallery/image5.jpg" alt="image">
                <img class="gallery__sprite" src="img/gallery/Logo5.png" alt="image">
            </div>
        </div>

        <div class="gallery__column gallery__column--big">
            <div class="gallery__content">
                <img class="gallery__logo" src="img/gallery/logos/Icon2.png" alt="icon">
                <h3 class="gallery__title">La Boriosa</h3>
                <p class="gallery__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                </p>
            </div>
            <div class="gallery__image">
                <img class="gallery__img" src="img/gallery/image6.jpg" alt="image">
            </div>
        </div>

        <div class="gallery__column gallery__column--big">
            <div class="gallery__photo">
                <img class="gallery__img gallery__img--adaptive" src="img/gallery/image7.jpg" alt="image">
                <img class="gallery__sprite" src="img/gallery/Logo5.png" alt="image">
            </div>
        </div>

    </div> <!-- /.gallery__row -->

</div>