<div class="gallery">

    <div class="gallery__box gallery__box--top">
        <div class="gallery__item">
            <div class="gallery__inner">
                <img class="gallery__image" src="../img/gallery/image1.jpg" alt="image">
                <img class="gallery__sprite" src="../img/gallery/Logo1.png" alt="icon">
            </div>
        </div>
    
        <div class="gallery__item">
            <div class="gallery__container">
                <div class="gallery__logo">
                    <img class="gallery__icon" src="../img/gallery/logos/Icon1.png" alt="icon">
                </div>
                <h3 class="gallery__title">VINTAGE OLIVA</h3>
                <p class="gallery__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                </p>
            </div>
        </div>
    
        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery/image2.jpg" alt="image">
        </div>
    </div>

    <div class="gallery__box gallery__box--middle">
        <div class="gallery__item">
            <div class="gallery__container">
                <div class="gallery__logo">
                    <img class="gallery__icon" src="../img/gallery/logos/Icon2.png" alt="icon">
                </div>
                <h3 class="gallery__title">LA BORIOSA</h3>
                <p class="gallery__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                </p>
            </div>
        </div>
    
        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery/image3.jpg" alt="image">
        </div>
    
        <div class="gallery__item">
            <div class="gallery__inner">
                <img class="gallery__image" src="../img/gallery/image4.jpg" alt="image">
                <img class="gallery__sprite" src="../img/gallery/Logo4.png" alt="icon">
            </div>
        </div>
    </div>

    <div class="gallery__box gallery__box--bottom">
        <div class="gallery__item">
            <div class="gallery__inner">
                <img class="gallery__image" src="../img/gallery/image5.jpg" alt="image">
                <img class="gallery__sprite" src="../img/gallery/Logo5.png" alt="icon">
            </div>
        </div>
    
        <div class="gallery__item">
            <div class="gallery__container">
                <div class="gallery__logo">
                    <img class="gallery__icon" src="../img/gallery/logos/Icon3.png" alt="icon">
                </div>
                <h3 class="gallery__title">RETRÒ BIKE - M. HULOT</h3>
                <p class="gallery__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                </p>
            </div>
        </div>
    
        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery/image6.jpg" alt="image">
        </div>
    
        <div class="gallery__item">
            <img class="gallery__image" src="../img/gallery/image7.jpg" alt="image">
        </div>
    </div>

</div> <!-- /.gallery -->