<div class="intro">
    <header class="header">
        <nav class="nav">
            <ul class="nav__links">
                <li class="nav__item">
                    <a class="nav__link" href="#">ABOUT US</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">WORK</a>
                </li>
            </ul>

            <a class="nav__img" href="#">
                <img class="nav__logo" src="../img/logo.png" alt="logo">
            </a>

            <ul class="nav__links">
                <li class="nav__item">
                    <a class="nav__link" href="#">SHOP</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">CONTACT</a>
                </li>
            </ul>
        </nav>
    </header>
</div>