<div class="shop" id="shop">

    <div class="shop__container">

        <div class="shop__block">
            <div class="shop__item">
                <img class="shop__image" src="img/goods/g1.jpg" alt="image">
                <div class="shop__sprite">
                    <img class="shop__logo" src="img/goods/bike.svg" alt="logo">
                    <div class="shop__text">SHOP NOW</div>
                </div>
            </div>
            <div class="shop__item">
                <img class="shop__image" src="img/goods/g2.jpg" alt="image">
                <div class="shop__sprite">
                    <img class="shop__logo" src="img/goods/bike.svg" alt="logo">
                    <div class="shop__text">SHOP NOW</div>
                </div>
            </div>
            <div class="shop__item shop__item--wide">
                <img class="shop__image" src="img/goods/g3.jpg" alt="image">
                <div class="shop__sprite">
                    <img class="shop__logo" src="img/goods/bike.svg" alt="logo">
                    <div class="shop__text">SHOP NOW</div>
                </div>
            </div>
        </div>

        <div class="shop__block">
            <div class="shop__item">
                <img class="shop__image" src="img/goods/g4.jpg" alt="image">
                <div class="shop__sprite">
                    <img class="shop__logo" src="img/goods/bike.svg" alt="logo">
                    <div class="shop__text">SHOP NOW</div>
                </div>
            </div>
            <div class="shop__item">
                <img class="shop__image" src="img/goods/g5.jpg" alt="image">
                <div class="shop__sprite">
                    <img class="shop__logo" src="img/goods/bike.svg" alt="logo">
                    <div class="shop__text">SHOP NOW</div>
                </div>
            </div>
        </div>

        <div class="shop__block">
            <div class="shop__item shop__item--wide">
                <img class="shop__image" src="img/goods/g6.jpg" alt="image">
                <div class="shop__sprite">
                    <img class="shop__logo" src="img/goods/bike.svg" alt="logo">
                    <div class="shop__text">SHOP NOW</div>
                </div>
            </div>
            <div class="shop__item">
                <img class="shop__image" src="img/goods/g7.jpg" alt="image">
                <div class="shop__sprite">
                    <img class="shop__logo" src="img/goods/bike.svg" alt="logo">
                    <div class="shop__text">SHOP NOW</div>
                </div>
            </div>
            <div class="shop__item">
                <img class="shop__image" src="img/goods/g8.jpg" alt="image">
                <div class="shop__sprite">
                    <img class="shop__logo" src="img/goods/bike.svg" alt="logo">
                    <div class="shop__text">SHOP NOW</div>
                </div>
            </div>
        </div>

    </div> <!-- /.container -->

    <div class="shop__inner">
        <button class="shop__button">DISCOVER THE SHOP</button>
    </div>

</div>