<div class="socials">

    <div class="container">

        <div class="socials__slider" id="slider">
            <div class="socials__item"> 
                <a class="socials__link" href="#">
                    <img class="socials__icon" src="img/twitter.png" alt="icon">
                </a>
                <h3 class="socials__title">
                    AOD New York  @aod  <span class="socials__span--gray"> /  35 min</span>
                </h3> 
                <p class="socials__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                </p>
            </div>
            <div class="socials__item">
                <a class="socials__link" href="#">
                    <img class="socials__icon" src="img/twitter.png" alt="icon">
                </a>
                <h3 class="socials__title">
                    AOD New York  @aod  <span class="socials__span--gray"> /  35 min</span>
                </h3> 
                <p class="socials__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                </p>
            </div>
            <div class="socials__item">
                <a class="socials__link" href="#">
                    <img class="socials__icon" src="img/twitter.png" alt="icon">
                </a>
                <h3 class="socials__title">
                    AOD New York  @aod  <span class="socials__span--gray"> /  35 min</span>
                </h3> 
                <p class="socials__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
                </p>
            </div>
        </div>

    </div> <!-- /.container -->

</div> <!-- /.socials -->