$white: #FFFFFF;    
$black: #353738;
$gray: #848789;
$light_gray: #F7F7F7; 
$nav_black: #4D4959;
$item_bg: #64c29e;


//Breakpoints

$breakpoint_xxl: 1500px;
$breakpoint_xl: 1110px;
$breakpoint_md: 768px;
$breakpoint_sm: 414px;